/*unversal css*/ 
$color1:green;
$color2:#FF5722;
$color3:#fff;
/*main css*/ 
header{
    .topbar{
        background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0 , 0, 0.7));
        .icon{
            i:hover{
                color: $color2 !important;
            }          
        }
        a:hover{
            text-decoration: none;
        }
    }
    nav{
        border-bottom: 2px solid green;
        box-shadow:1px 1px 10px 1px black;
        .collapse{
            .active{
                color: $color2 !important;
            }
            a{
                color: #fff !important;
            }
            a:hover{
                color: $color2 !important;
            }
        }
    }
    .logo{
        color: $color2 !important;
    }
    
}
/*slider*/
.carousel-caption{
    h1{
        color:$color2;
        font-size: 50pt;
    }
    p{
    font-size: 10pt;
    }
} 
#about{
    background:rgba(128,128,128,0.445);
    h1{
        color: $color2;
        font-size: 50pt;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h3{
        color: $color1;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
}
//======== end about===============
#Journey{
    background: linear-gradient(rgba(0,0,0,0.9)rgba(0,0,0,0.9)), url(../image/bannar/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    h1{
        color: $color2;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p{
        color: $color3;
    }
    .card{
        padding-top:10px;
        background:rgba(0,0,0,0.5);
        border-color: $color2;
        
        i{
            font-size: 30pt;
        }
    }
}
#works{
    background: linear-gradient(rgba(71, 54, 54, 0.7)rgba(71,54,54,0.7));
    h1{
        color: $color2;

    }
    p{
        color:black;
        font-style: italic;

    }
    .btn{
        background: $color2;
        padding: 15px 80px !important;
        color:$color3;
        border: 2px solid #fff;
        border-radius: 10px 1px 10px 1px !important;
    }
    .btn:hover{
        background: $color3;
        color: $color2;
        border-color: $color2;
    }
}
#Education{
    background: linear-gradient(rgba(0,0,0,0.4)rgba(0,0,0,0.4)), url(../image/bannar/computer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    .edu-item{
        background: black;
        margin: 10px;
        padding: 50px 30px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        i{
            font-size: 30pt;
            padding: 20px 15px;
            background-color: #fff;
            color: $color2;
            border-radius: 100%;
            position: absolute;
            transform: translate(-35px, -80px);
            border:2px solid black
        }
        h4{
            margin-top: 20px;
        }
    }
}
footer{
    h1{
        color: $color2;
    }
    p{
        color: $color3;
    }
    a{
        color: #fff;
      i{
        font-size: 30pt;  
        padding: 15px 10px;
        
      }  
    }
    a:hover{
          color: $color2;
    }
    h2{
        color: $color3;
    }
    span{
       color: $color3; 
    }
    .main-footer{
        background: black;
        text-align: center;
    }
}

/*madia Quary*/ 