/*unversal css*/
/*main css*/
header .topbar {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

header .topbar .icon i:hover {
  color: #FF5722 !important;
}

header .topbar a:hover {
  text-decoration: none;
}

header nav {
  border-bottom: 2px solid green;
  -webkit-box-shadow: 1px 1px 10px 1px black;
          box-shadow: 1px 1px 10px 1px black;
}

header nav .collapse .active {
  color: #FF5722 !important;
}

header nav .collapse a {
  color: #fff !important;
}

header nav .collapse a:hover {
  color: #FF5722 !important;
}

header .logo {
  color: #FF5722 !important;
}

/*slider*/
.carousel-caption h1 {
  color: #FF5722;
  font-size: 50pt;
}

.carousel-caption p {
  font-size: 10pt;
}

#about {
  background: rgba(128, 128, 128, 0.445);
}

#about h1 {
  color: #FF5722;
  font-size: 50pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#about h3 {
  color: green;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#Journey {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9))), url(../image/bannar/background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0.9)), url(../image/bannar/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Journey h1 {
  color: #FF5722;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Journey p {
  color: #fff;
}

#Journey .card {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-color: #FF5722;
}

#Journey .card i {
  font-size: 30pt;
}

#works {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 54, 54, 0.7)));
  background: linear-gradient(rgba(71, 54, 54, 0.7) rgba(71, 54, 54, 0.7));
}

#works h1 {
  color: #FF5722;
}

#works p {
  color: black;
  font-style: italic;
}

#works .btn {
  background: #FF5722;
  padding: 15px 80px !important;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px 1px 10px 1px !important;
}

#works .btn:hover {
  background: #fff;
  color: #FF5722;
  border-color: #FF5722;
}

#Education {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../image/bannar/computer.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4)), url(../image/bannar/computer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Education .edu-item {
  background: black;
  margin: 10px;
  padding: 50px 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

#Education .edu-item i {
  font-size: 30pt;
  padding: 20px 15px;
  background-color: #fff;
  color: #FF5722;
  border-radius: 100%;
  position: absolute;
  -webkit-transform: translate(-35px, -80px);
          transform: translate(-35px, -80px);
  border: 2px solid black;
}

#Education .edu-item h4 {
  margin-top: 20px;
}

footer h1 {
  color: #FF5722;
}

footer p {
  color: #fff;
}

footer a {
  color: #fff;
}

footer a i {
  font-size: 30pt;
  padding: 15px 10px;
}

footer a:hover {
  color: #FF5722;
}

footer h2 {
  color: #fff;
}

footer span {
  color: #fff;
}

footer .main-footer {
  background: black;
  text-align: center;
}

/*madia Quary*/
/*# sourceMappingURL=style.css.map */